@import model.common.component.ViewValueCategory
@import model.common.component.ViewValueTodo
@(vv: model.site.todo.ViewValueTodoList)(implicit request: RequestHeader)

@common.Default(vv){
  <a class = "link-to-top"  href= @controllers.routes.HomeController.index>HOMEに戻る</a>
  <a class="link-to-add-todo" href=@controllers.routes.TodoController.showAddPage>新規作成</a>
  @if(vv.todoList.nonEmpty) {
    @for((todo, category) <- vv.todoList) {
      @todoList(todo, category)
    }
  } else {
    <h2>該当なし</h2>
  }
}

@todoList(todo: ViewValueTodo, category: ViewValueCategory) = {
  <div class = "todo-list">
    @helper.form(helper.CSRF(routes.TodoController.delete(todo.id))) {
      <input class = "todo-list__delete-button" type="submit" value="削除">
    }
    <a class="todo-list__to-detail" href = @routes.TodoController.showEditForm(todo.id)>
      編集画面
    </a>
    <span class = "tod-list__category-name" style="background-color: @category.color.value">
      @category.name
    </span>
    <div class="todo-list__content">
      <span class="todo-list__content-status">@todo.status.name</span>
      <h3 class="todo-list__content-title">[@todo.title]</h3>
      <p>@todo.body</p>
    </div>
  </div>
}